<div id="header" class = "row">
    <div id="menuButtonWrapper" class="col-1">
        <button aria-label="Menu" id="menuButton" class="btn btn-outline-light" onclick="menuDisp()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg></button>
    </div>
    <div class="col-10 text-center" style="color: white; font-size: 25px;">
        Admin
    </div>
</div>
<div id="menuPlaceHolder">
    <div id="menu">
        <div id="menuCloseButton" onclick="menuHide()" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg></div>
        <div style="text-align:center; width: 100%;">
            <br>
            <h2 style="color: white;">Spirits UI</h2>
            <br>
        </div>
        <div class="text-center">
            <a href="/admin/device" class="choice btn btn-outline-light">
                Device
            </a>
            <a href="/admin/model" class="choice btn btn-outline-light">
                Algorithm
            </a>
            <a href="/admin/calibrate" class="choice btn btn-outline-light">
                Calibrate
            </a>
            <a href="/user" class="choice btn btn-outline-light">
                User
            </a>
            <button class="choice btn btn-outline-light" id="logoutBtn">
                Logout
            </button>
        </div>
    </div>
</div>
<script>
    $("#logoutBtn").click(function() {
        axios({
            baseURL: 'https://cloud.tanghaotian.icu:8000',
            url: '/api/session',
            method: "DELETE"
        }).then(function (response) {
            $.cookie("deviceStatus", "", {expires: -1});
            $.cookie("deviceID", "", {expires: -1});    
            // location.reload();
            window.location.href = "/login"
        }).catch(error => {
            alert("Exception while loggin out");
        })
    });
</script>